


body {
        background: #ea3;
    }

    .green-text {
        color: green;
        font-weight: bold;
    }
    .red-text {
        color: red;
        font-weight: bold;
    }
    .big-text {
        font-size: 2.0em;
        color: blue;
        padding-right: 0.5vw;
        font-weight: bold;
    }
    .centered-text {
        padding-left: 10%;
    }

    .current {
        background: #f0a;
    }

    nav#main-nav {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        text-align: center;
        background: #000;
        width: 100%;
        border-radius: 1em;
        position:fixed;
    }
@media (max-width: 490px) {
    nav#main-nav {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        justify-self: center;
        text-align: center;
        background: #000;
        width: 100%;
        border-radius: 1em;
        position:fixed;
    }
}
    nav#main-nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1.4em;
        padding: 2vh 2vw 2vh 2vw;
        border: 2px #fff solid;
        border-radius: 2em;
        text-align: center;
    }
    nav#main-nav a:hover {
        background: #00f;
    }

    main#whole-content {
        background: #ddd;
        width: 95%;
        height: auto;
        margin-left: 1vw;
        border: #ddd 2px dashed;
        border-radius: 2em;

    }

    main section#main-policy {
        margin-left: 3vw;
    }
    article, section {
        margin: 5vh 1vw 5vh 1vw;

    }
    p, h2, h3, h4, h5, h6 , ol, li {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    p, li {
        line-height: 1.3em;
        text-align: justify;
    }

    main#whole-content header section.top-hdr{
        text-align: center;
        font-size: xx-large;
        background: #3363bb;
        color: #fff;
        margin: 9vh 0.5vw 0 0.5vw;
        border-radius: 1em;
        border:rgb(35, 90, 172) 2px solid;
    }

    main#whole-content header section.top-hdr p {
        font-size: 0.6em;
        padding: 0 1vw 1vh 1vw;
    }


    main#whole-content header h1.top-hdr  {
        text-align: center;
        font-size: xx-large;
        background: #3363bb;
        color: #fff;
        margin: 2vh 1vw 2vh 1vw;
        padding: 2vh 0 2vh 0;
        border-radius: 0.5em;
    }

    main#whole-content header h3, main#whole-content header h2, main#whole-content header p {
        text-align: center;
    }

    ol li {
        margin-left: 3vw;
    }

    /* img article */

    article#art-img figure img {
        width: 100%;
    }
    article#art-img figure {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        align-items: center;
  

    }
    article#art-img figure div {
        margin-left: 1vw;
    }
    
/* MEDIA QUERIES FOR SMALL DEVICES */

    @media (min-width: 250px) and (max-width: 490px) {
        article#art-img figure {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
        align-items: center;
        }

        article#art-img figure div {
        margin-bottom: 2vh;
        }
    }

    /***
    * FOR AFFILIATE PRODUCTS
    *
    **/
/*
    div#div-products {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        justify-items: center;
    }
*/

    /* payment */

    section#payment {
        margin-left: 5vw;
    }

    footer#footer {

        background: #000;
        color: #fff;
        margin-bottom: 0.1vh;
        border-radius: 2em;
    
    }

    footer#footer div {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
        align-items: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
    }

    footer#footer div a {
        text-decoration: none;
        color: inherit;
        padding: 4vh 2vw 2vh 2vw;
    }

    footer#footer p {
        text-align: center;
        padding-bottom: 4vh;
    }

